body{
	background-color: #CCFFCC;
}

img{
	border: 1px solid #0000ff;
	height: 400px;
	width: auto;
}
#photo{
	text-align: center;
}
h1{
	text-align: center;
}

.page_navigation{
	margin-top: 20px;
	text-align: center;
}