body{
	background-color: #CCFFCC;
}

img{
	border: 1px solid #0000ff;
	height: 400px;
	width: auto;
}
#photo{
	text-align: center;
}
h1{
	text-align: center;
}
h4{
	text-align: center;
}
.page_navigation{
	margin-top: 20px;
	text-align: center;
	border: 1px solid #0000ff;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#currentpage{
	font-weight: bold;
}

#resume{
	background-color: #FFFF99;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}